<div class="container">
  <h1>{{ title }}</h1>

  <form>
    <input [(ngModel)]="searchKeyword" type="text" placeholder="Search..." name="searchKeyword" class="u-full-width" />
    <button (click)="onSearch()" type="submit" class="button-primary">Search</button>
  </form>
  
  <img *ngIf="isLoading" class="loading-image" src="../../res/loading.gif" />
  
  <div class="result-images">
    <img *ngFor="let imageUrl of resultImages" src="{{ imageUrl }}" (click)="onAddToFavourites(imageUrl)" />
  </div>

  <div *ngIf="favouriteImages.length > 0" class="favourite-images">
    <h1>Favourite images</h1>

    <div class="result-images">
      <img *ngFor="let imageUrl of favouriteImages" src="{{ imageUrl }}" (click)="onRemoveFromFavourites(imageUrl)" />
    </div>
  </div>
</div>
